.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*@font-face {*/
/*  font-family: 'Inter';*/
/*  src: url('/fitness/src/fonts/Inter-Regular.otf') format('truetype');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/
nav {
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

nav {
  background-color: #333;
  overflow: hidden;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  float: left;
}

nav li a {
  font-family: Inter;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li.contact {
  border-radius: 50px;
  background-color:#036a99;
  padding: 0px;
  margin-left: 10px;
}

nav li.contact:hover {
  background-color: #ADD8E6;
}

nav li a:hover:not(.contact) {
  background-color: #111;
}

/******************************************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 1rem;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

lu {
  list-style: none;
  padding: 0;
}

il + il {
  margin-top: 1rem;
}

il {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: aliceblue;
  padding: 1.5rem;
  border-radius: 1rem;
  width: calc(100% - 2rem);
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

/*il::before {*/
/*  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='100' title='fish'%3E%3Cpath d='M327.1 96c-89.97 0-168.54 54.77-212.27 101.63L27.5 131.58c-12.13-9.18-30.24.6-27.14 14.66L24.54 256 .35 365.77c-3.1 14.06 15.01 23.83 27.14 14.66l87.33-66.05C158.55 361.23 237.13 416 327.1 416 464.56 416 576 288 576 256S464.56 96 327.1 96zm87.43 184c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24 13.26 0 24 10.74 24 24 0 13.25-10.75 24-24 24z' /%3E%3C/svg%3E");*/
/*}*/

il:nth-child(even) {
  flex-direction: row-reverse;
  background: honeydew;
  margin-right: -2rem;
  margin-left: 2rem;
}

il:nth-child(even)::before {
  transform: rotateY(180deg);
}